<div class="panel-group" id="accordioon">
        <div class="panel panel-default" ng-repeat="cm in customerdetail" >
           <div class="panel-heading">
              <h4 class="panel-title">
                 <div data-toggle="collapse" data-parent="#accordioon" ng-href="#collapse{{cm.id}}">{{cm.customername}}</div>
              </h4>
           </div>
           <div id="collapse{{cm.id}}" class="panel-collapse collapse in">
              <div class="panel-body">
                 <div class="panel-body">
                    <div class="col-md-3 text-center" style="border: 1px solid black;">
                       <h4>S.NO</h4>
                    </div>
                    <div class="col-md-3 text-center" style="border: 1px solid black;">
                       <h4>Date</h4>
                    </div>
                    <div class="col-md-3 text-center" style="border: 1px solid black;">
                       <h4>Credit</h4>
                    </div>
                    <div class="col-md-2 text-center" style="border: 1px solid black;">
                       <h4>Debit</h4>
                    </div>
                    <!--start-->
                    <div class="panel-group" id="anotherpan">
                       <div class="panel" ng-repeat="s in drcrr" ng-show="s.customername == cm.customername && s.debit ==0">
                          
                             
                                <div data-toggle="collapse" data-parent="#anotherpan" ng-href="#debitdetails{{s.id}}" class="col-md-3">
                                   {{s.id}}
                                </div>
                                <div data-toggle="collapse" data-parent="#anotherpan" ng-href="#debitdetails{{s.id}}" class="col-md-3">
                                   {{s.date}}
                                </div>
                                <div data-toggle="collapse" data-parent="#anotherpan" ng-href="#debitdetails{{s.id}}" class="col-md-3">
                                   {{s.credit}}
                                </div>
                                <div data-toggle="collapse" data-parent="#anotherpan" ng-href="#debitdetails{{s.id}}" class="col-md-3">
                                   {{s.debit}}
                                </div>
                             </h4>
                          </div>
                          <div class="panel-body" ng-show="s.credit == 0 "  >
                                 <div id="debitdetails{{s.crid}}" class="panel-collapse collapse">
                                         <div class="panel-body">{{s.id}}</div>
                                 </div>
                          </div>
                          <!--<div id="collapsei{{s.id}}" class="panel-collapse collapsei in">
                             <div class="panel-body">
                                <div class="container" >
                                   <div class="col-md-3 text-center" style="border: 1px solid black;">
                                      <h4>S.NO</h4>
                                   </div>
                                   <div class="col-md-3">
                                      <h4>Date</h4>
                                   </div>
                                   <div class="col-md-3">
                                      <h4>Credit</h4>
                                   </div>
                                   <div class="col-md-3">
                                      <h4>Debit</h4>
                                   </div>
                                </div>
                             </div>
                          </div>-->
                       </div>
                    </div>
                    <!--end-->
                 </div>
              </div>
           </div>
        </div>


        <!-- index_page navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top " >
         <div class="container">
         <!--start from here-->
         
               <ul class="nav navbar-nav">
                 <li ><a href="/applications/Finance/#/">Home </a></li>
                <!-- <li class="dropdown">
                         <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
                         <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#">HTML</a></li>
                           <li><a tabindex="-1" href="#">CSS</a></li>
                           <li class="dropdown-submenu">
                             <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                               <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                               <li class="dropdown-submenu">
                                 <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                                 <ul class="dropdown-menu">
                                   <li><a href="#">3rd level dropdown</a></li>
                                   <li><a href="#">3rd level dropdown</a></li>
                                 </ul>
                               </li>
                             </ul>
                           </li>
                         </ul>
                     </li>>-->
                     <!--ends here-->
     
     
                     <!--masters-->
                 <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" data-target="masters_dropdown" href="">
                     Masters  <span class="caret"></span>  
                   </a>
                   <ul class="dropdown-menu">
                       <li class="dropdown-submenu">
                         <a class="test" tabindex="-1" href="">Customers <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a tabindex="-1" href="#/createcustomer">Create Customer</a></li>
                         <li><a tabindex="-1" href="#/getcustomers">Edit Customer</a></li>                    
                     </ul>
                       </li>
                       <li class="dropdown-submenu">
                           <a class="test" tabindex="-1" href="">Chiti <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/createchiti">Create Chiti</a></li>
                           <li><a tabindex="-1" href="#/reversechiti">Reverse Chiti</a></li>
                           <li><a tabindex="-1" href="#/getchiti">Edit Chiti</a></li>                      
                       </ul>
                         </li>
                         <li class="dropdown-submenu">
                           <a class="test" tabindex="-1" href="">Chit Fund <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/createchitfund">Create Chit Fund</a></li>
                           <li><a tabindex="-1" href="#/reversechiti">Reverse Chiti</a></li>
                           <li><a tabindex="-1" href="#/getchitfund">Edit Chitfund</a></li>                      
                       </ul>
                         </li>
                         <li><a tabindex="-1" href="#/inc">Income Generated</a></li>                    
                   </ul>
                   </li>
     
                   <!--transactions-->
                   <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" data-target="transactions_dropdown" href="">
                         transactions  <span class="caret"></span>  
                   </a>
                   <ul class="dropdown-menu">
                       <li class="dropdown-submenu">
                           <a class="test" tabindex="-1" href="">Cash Entry <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/createdrcr">Create Cash Entry</a></li>
                           <li><a tabindex="-1" href="#/drcr">Edit Cash Entry</a></li>
                           
                       </ul>
                         </li>
                           <li class="dropdown-submenu">
                               <a class="test" tabindex="-1" href="">Received Amount <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                               <li><a tabindex="-1" href="#/createreceived">Create Received Amount</a></li>
                               <li><a tabindex="-1" href="#/received">Edit Received Amount</a></li>
                               
                           </ul>
                             </li>
                               
                              
                     
                       </ul>
                          
                 
     
                   </li>
                   <!--transactions-->
                   <!--Display-->
                   <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" data-target="transactions_dropdown" href="">
                         Display  <span class="caret"></span>  
                   </a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#/daybook">Daybook</a></li>
                        <li><a tabindex="-1" href="#/ledger">Ledger</a></li>  
                        <li><a tabindex="-1" href="#/interest">Interest A/C's</a> </li>
                        <li><a tabindex="-1" href="#/pendinglist">Pendling List</a> </li>
                        <li><a tabindex="-1" href="#/credit">Credits</a> </li>
                     </ul>
                   </li>
                  <!--Display-->
                   
                <!-- <div class="dropdown-menu" aria-labelledby="dropdown_target">
                     <ul>
                     <li class="dropdown-submenu">
                      <a class="dropdown-toggle test" data-toggle="dropdown" data-target="submenu_dropdown"   href="#">
                         Customer<span class="caret"></span>
                     </a></li>
                     </ul>
                 <div class="dropdown-submenu" aria-labelledby="submenu_dropdown">
                     <ul>
                         <a class="dropdown-item" href="/applications/Finance/#/createcustomer">Create Customer</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="/applications/Finance/#/getcustomers">Edit Customer</a>
                     </ul>
                 </div>
                     <a class="dropdown-item" href="/applications/Finance/#/createcustomer">Create Customer</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/applications/Finance/#/editcustomer">Edit Customer</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/applications/Finance/#/createchiti">Create Chiti</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/applications/Finance/#/getchiti">Edit Chiti</a>
                 </div>-->
                         
           </div>  
     
     </nav>  